<!DOCTYPE html>
<head>
    {% load static %}
    <title>CPU</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <button onclick="change_theme()">Change theme</button>
    <button onclick="change_text_size()">Change text size</button>
    <button onclick="change_position()">Change text position</button>
    <button onclick="calculation()">Show min/avg/max</button>
    <table class="table">
        <p id="demonstrate"></p>
        {% for cpu in cpus %}
            <p id="tala">Current CPU utilization: {{ cpu.curr_util }}</p>
        {% endfor %}
    </table>
</body>